<main>
    <section id="image-upload-section">
        <h2>Upload Images</h2>
        <div id="image-upload-widget-container">
            <!-- This div will hold the image upload widget -->
            <div class="row">
                <div>
                    <div id="upload-container" class="my-5"
                        style="position: relative; margin: 0 auto; width: 90%; height: 700px;">
                    </div>
                </div>
            </div>
    </section>

    <section id="user-databases-section">
        <h2>Your database:</h2>
        <div id="user-databases-container" class="container">
            <!-- This div will display user-specific databases and images -->
            <h3 class="m-5">Welcome back: {{user.username}}</h3>
            <div class="images container-lg">
                <div class="row">
                    {{#each user.images}}
                    <div class="card w-25">
                        <img src="{{this.image_url}}" class="border border-black border-2 mt-3 w-100 h-100"
                            alt="{{this.alt}}" class="userImageItem" id="imageID-{{this.image_id}}">
                        <div class="card-body btn-group" role="group">
                            <button id="delete-button-{{this.image_id}}"
                                class="btn btn-danger delete-button">Delete</button>
                            <button id="download-button-{{this.image_id}}"
                                class="btn btn-success download-button">Download</button>
                        </div>
                    </div>
                    {{/each}}
                </div>
            </div>
        </div>
    </section>
</main>

<script src="https://js.bytescale.com/upload-widget/v4"></script>