<!DOCTYPE html>
<html lang="en">

<head>
    <script src="https://cdn.jsdelivr.net/npm/face-api.js@0.20.1/dist/face-api.js"></script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/style.css">
    <title>Face-Link</title>
</head>

<body>
    <header>
        <h1>Face-Link</h1>
    </header>
    <main>
        <section id="image-upload-section">
            <h2>Upload Images</h2>
            <div id="image-upload-widget-container">
                <!-- This div will hold the image upload widget -->
                <div class="row">
                    <div class="col-md-6">
                        <div id="upload-container"
                            style="position: relative; margin: 0 auto; width: 80%; height: 350px;">
                        </div>
                    </div>
                </div>
        </section>

        <section id="user-databases-section">
            <h2>User Databases</h2>
            <div id="user-databases-container">
                <!-- This div will display user-specific databases and images -->
                <h3>{{user.username}}</h3>
                    <div class="images container">
                        <h4>Images</h4>
                        {{#each user.images}}
                            <img src="{{this.image_url}}" alt="{{this.alt}}" class="userImageItem"  id="imageID-{{this.image_id}}">
                        {{/each}}
                    </div>
                    <div class="faces">
                        <h4>Faces</h4>
                        <div class="row"></div>
                            {{#each user.faces}}
                            <div class="col-md-6"></div>
                                <h5>{{this.name}}</h5h5>
                                <img src="{{this.face_image_url}}" alt="{{this.alt}}" class="userFaceItem">
                            </div>
                            {{/each}}
                        </div>
                    </div>
            </div>
        </section>
    </main>

    <script src="https://js.bytescale.com/upload-widget/v4"></script>
    <script src="./js/uploader.js"></script>
    <script src="./js/logout.js"></script>
    <script src="./faceModels/"></script>
    <script src="./js/faceRecognition.js"></script>
    
</body>

</html>